body {
    background: grey;
    background-image: url("../img/Diia-Flag1.png");
    background-image: url("../img/Diia-Square1.png");
    background-image: url("../img/Diia-Circle1.png");
    background-repeat: no-repeat;
    
}
.img-line {
    width: 30%; 
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style-type: none;
}
  .img-line_margin {
    margin: 0 5%;
  }
